<h1> <%= current_login.username %> 's Profile</h1>

<div>
<%= image_tag( current_login.picture , class: 'list_image') %>

<!--< image_tag(product.image_url, class: 'list_image') %> -->

</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th> body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= post.title %></td>
        <td><%= post. body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%# @logins.each do |l| %>
  <%#= l.username %><br />
<%# end %>
<h3>Suggested Friends</h3> 
<% if login_signed_in? %>
  <%@logins.each do |login| %>
    <% unless login == current_login || current_login.requested_friends.include?(login) || current_login.friends.include?(login) || current_login.pending_friends.include?(login) %>
    <%= login.username%> <%= link_to 'Add as a Friend', login_friends_path(:login_id => current_login.id, :friend_id => login.id), method: :post%> <br/>
    <% end %>
    <% end %>
<% end %>

<h3>Your Friends</h3> 

<% if login_signed_in? %>
  <%@logins.each do |login| %>
    <%if current_login.friends.include?(login) %>
    <div>    

    <%= login.username%>  <br />
   Go to <%= link_to login.username, friends_post_path(login) %> 's page

   <br />

    <br />
    </div>
    <% end %>
  <% end %>
<% end %>

<br />

<%= link_to 'Friend List Statuses', login_friends_path(current_login) %>

<br />

<%= link_to 'New Post', new_post_path %>

<br />

<%= link_to 'Sign Out', destroy_login_session_path %> 
